:root{
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #999999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #ffffff;
}

h3{
    font-weight: lighter;
}

a{
    color: #ffffff;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("1.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

   
}

.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(40% , -50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

.showcase-content{
    position: relative;
    margin: 0 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 44px;
    margin: 0 30px;
    max-width: 800px;
    line-height: 74.5px;
    padding-bottom: 15px;
}

.showcase-content h3{
    color: white;
    font-size: 25px;
    margin: 15px 0;
    padding-top: 30px;
}

.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}


.country {
    margin-top: 50px;
}
.countrytext {
    position: relative;
    display: flex;
    left: 0;
    width: 1000px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
     
}
.countrytext input {
    vertical-align: middle;
    padding-left: 10px;
    width: 470px;
    height: 35px;
}

.home {
    margin-right: 25px;
    transition: 0.3s;
}
.home:hover {
    color:#504d4d;

}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

.btn:hover{
    opacity: 0.9;
}


.showcase-content .btn-lg{
    position: absolute;
    right: 0;
    bottom: -8vh;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 36px;
    width: 14rem;
}



.faq{
    text-align: center;
}

.faq h1{
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}

.questions li{
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;
}

.faq p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}

.input{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
}

.input input{
    width: 600px;
    height: 3rem;
}

.input button{
    height: 3.25rem;
    width: 320px;
    left: 20px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    color: white;
}

.footer{
    max-width: 70%;
    margin: auto;
    margin-top: 100px;

    
    
}
section {
    display: grid;
    place-items: center;
}






.footer ,
.footer a{
    color: #999999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 2rem;
}

.footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 5rem;
}

.footer li{
    line-height: 2.4;
}