<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereCrypto</title>
    {% load static %}
    <link rel= "stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
    <header class="showcase">
    <div class="showcase-top">
        <img src="{% static 'images/logo.png' %}" alt="WhereCrypto Logo" class="logo">
        <a href="index.html">Home</a>
    </div>
        <div class="showcase-content">
            <h1>There are countries of crypto-future</h1>
            <img src="{% static 'images/world_map.png' %}" alt="">
            <div class="country">
                {% if unknown_country %}
                    <h3>You enter unknown country - {{ value }}</h3>
                {% else %}
                    <h3>Do you see necessary country on this map? Enter it here</h3>
                {% endif %}
                <form method="get" action="{% url 'search' %}">
                    <input type="text" placeholder="Your country here" name="search_country" id="search_country">
                     <button class="btn">Submit
                     </button>
                </form>
            </div>
        </div>
    </header>
    <footer class="footer">
        <p>Questions? Call 000-800-040-1843</p>
        <div class="footer-cols">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Speed Test</a></li>
            </ul>
            <ul>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="#">Watch for Free</a></li>
            </ul>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Ways to Watch</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Legal Notices</a></li>
            </ul>
            <ul>
                <li><a href="#">Media Centre</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>



